*
{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
}
button
{
    padding: 10px 40px 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(236, 61, 61);
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: yellow;
    transition: all 0.5s;
}
.pc {
    text-align: center;
}